<div class="auth-form-container">
  <form class="auth-form" (ngSubmit)="onAuthSubmit()" #authForm>
    <p class="auth-form-title">
      {{ isLoginMode ? "Login Now." : "Sign Up to shop." }}
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input name="email" ngModel matInput type="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input name="password" ngModel matInput type="password" />
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="!isLoginMode">
      <mat-label>Confirm Password</mat-label>
      <input name="confirmPassword" ngModel matInput type="password" />
    </mat-form-field>
    <div class="auth-form-buttons">
      <button color="accent" mat-raised-button>
        {{ isLoginMode ? "Login" : "Sign Up" }}
      </button>
      <button color="accent" (click)="switchAuthMode()" mat-raised-button>
        {{ isLoginMode ? "Sign Up" : "Login" }}
      </button>
    </div>
  </form>
</div>
